spectrograms/
__pycache__/
*.wav
*.mp3
venv/
logs/
.DS_Store
project_guide.md
project_guide_2.md
output/
!audio_files/output/
audio_files/temp/
audio_files/output/
.env
.zshrc
PRONUNCIATION_THEORY_AND_DEBUG.md